<br>
<br>
<br>
<br>

<h1>Challenge: <%= Challenge.find(@open_challenge_id).title %></h1>
<h2>Ends on: <%= Challenge.find(@open_challenge_id).challenge_end%></h2>
<p>Submit evidence here:</p>
    <%= form_for Evidence.new, :url => create_openevidence_path, :html => { :multipart => true } do |f| %>
    <%= f.hidden_field :challenge_id, {:value => @open_challenge_id} %>
    <%= f.hidden_field :user_id, {:value => current_user.id} %>
    <%= f.label 'Comment' %>
    <%= f.text_field :comment %></br>
    <%= f.file_field :photo, as: :file, :required => true %>
    <%= f.submit 'Submit evidence!' %>
    <% end %>