
  
<% @openchallenge.users.sort_by{|user| @openchallenge.rank_of(user)}.each do |user| %>
  <tr>
  <td><%=@openchallenge.rank_of(user)%></td>
  <td><h4><%= user.capitalize_name %></h4></td>
  <td><%= image_tag user.evidences.where(challenge_id: @openchallenge.id).first.photo.url(:medium)%></td>
  <td><% if !current_user.voted?(@openchallenge) %>
  <div id = <%=user.id%>><%= form_for Vote.new, url: open_vote_path, remote: true do |f| %>
        <%= f.hidden_field :challenge_id, {:value => @openchallenge.id} %>
        <%= f.hidden_field :user_id, {:value => current_user.id} %>
        <%= f.hidden_field :recipient_id, {:value => user.id} %>
        <%= f.submit "Vote for #{user.capitalize_name}!", class: "btn btn-success btn-md" %></div>
      <% end %><br>
  <%else%>
    <h2><%= @openchallenge.votes_for(user).size %></h2>
    <%end%></td>
    </tr>
  <%end%>

