<br>
<br>
<br>
<br>
<br>


<h1>All open challenges</h1>
<br>

<table class="table table-hover">
  <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Creator</th>
            <th>Competitors</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>

<% @open_challenges.each do |challenge| %>
  <tr>
    <td><%= link_to challenge.title, openchallenge_path(challenge) %></td>
    <td><%= challenge.description %></td> 
    <td><%= challenge.creator.capitalize %></td>
    <td><%= current_user.competing?(challenge) ? (challenge.users.size - 1).to_s + " + you!" : challenge.users.size %> </td>
    <td> <%=challenge.status%> </td>
  </tr>
  <%end%>


</tbody>
</table>


  <%= link_to 'make a new challenge', new_openchallenge_path %>