<br>
<br>
<br>
<br>
<br>


<h1>All open challenges</h1>

<% @open_challenges.each do |challenge| %>
  <%= link_to challenge.title, openchallenge_path(challenge) %> - <%= challenge.description %>. <%= pluralize( challenge.users.size, "competitor") %>. Status: <%=challenge.status%>. <%= current_user.competing?(challenge) ? 'You are competing!' : nil %><br>
  <%end%>

  <%= link_to 'make a new challenge', new_openchallenge_path %>