<% content_for :head do %>
    <script type="text/javascript">
      <%= render partial: 'openchallenges/openvoting_countdown.js', locals: {challenge: @openchallenge} %>
    </script>
  <% end %>


<% unless @openchallenge.status == 'closed' %>
<div id='votingCountdown'></div>
<%end%>

<div class="container">

<br>
<br>
<div class="row">
  <div class="col-md-2"></div>
    <div class="col-md-8">

<h2 class="text-center">OPEN CHALLENGE!!</h2>
<h1 class='text-center'><%=@openchallenge.title%></h1>
<h3 class ='text-center small'><%=@openchallenge.description%><br></h3>
<h4 class ='text-center small' id='status'><%=@openchallenge.status%></h4>
</div>
<div class="col-md-2"></div>

</div>
<% unless @openchallenge.status == 'closed'%>
<div id='sorting'>
<%= form_for @openchallenge, url: sort_new_path, method: 'POST', remote: true do |f| %>
  <%= f.submit 'show latest evidence' %>
  <% end %>
<%= form_for @openchallenge, url: sort_votes_path, method: 'POST', remote: true do |f| %>
  <%= f.submit 'show most popular evidence' %>
  <% end %>
</div>
<%end%>


<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
<% if !current_user.competing?(@openchallenge) && @openchallenge.status != 'closed' %>
  <%= form_for Evidence.new, url: new_openevidence_path do |f| %>
    <%= f.hidden_field :challenge_id, {:value => @openchallenge.id} %>
    <%= f.submit "Join this challenge?" %>
  <%end%>
<%end%>
<div class="col-md-2"></div>
</div><br>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Place (out of <%=@openchallenge.users.size %>)</th>
            <th>Name</th>
            <th>Evidence</th>
            <th>Votes</th>
        </tr>
    </thead>

<tbody id='list'>
  <% if @openchallenge.status == 'closed'%>
    <%= render 'show_votes' %>
  <%else%>
    <%= render 'list' %>
  <%end%>


</tbody>

</table>

<%= link_to "go back to open challenges", openchallenges_path %>

</div>

<br>