<div class="sidebar hidden-phone profile-sidebar" id="profile-sidebar">
	<%= image_tag(@user.avatar, size: '200', class:"center-block") %>
	<h3 align="center"><%= @user.name.titleize %></h3>

  <div>
  <% if @user == current_user %>
    <a class="center-block btn btn-success btn-lg" href="/users/<%= current_user.id %>/edit" id="update-profile-btn">Update Profile</a>
  <% end %>
  </div>

	<div id="sidebar-bio">
		<h5>Bio:</h5>
  	<h5><%= @user.bio %></h5>
  </div><br>

  <div clas="col-md-12">
  <%= render partial: "users/user_show_partials/top_competitors", locals: {user: current_user} %>
  </div>
	
</div>