<% if current_user %>
	<% @user.top_3_competitors.each.with_index do |person, idx| %>
	  <div style="text-align: center;">
	  <span>Your top three most frequent competitors are:</span><br>
	  	<%= link_to user_path(person[0]), class: "white-link" do %>
	    		<span><%= idx + 1 %>. <%= person[0].name.capitalize %> with <%= pluralize(person[1], 'Competition') %> </span>
	    <% end %>
	  </div>
	<% end %>
<% else %>
	<% @user.top_3_competitors.each.with_index do |person, idx| %>
	  <div style="text-align: center;">
	  <span><%= @user.name.capitalize %>'s top three most frequent competitors are:</span><br>
	  	<%= link_to user_path(person[0]), class: "white-link" do %>
	    	<span><%= idx + 1 %>. <%= person[0].name.capitalize %> with <%= pluralize(person[1], 'Competition') %></span>
	    <% end %>
	  </div>
	<% end %>
	<% end %>