<div class="col-md-3"><%= render partial: 'users_sidebar' %></div>
<div class="col-md-6" id="profile-main-section">
  <div class="col-md-12" id="results-charts">
    <div class="col-md-4">
      <% if current_user.total_wins > 0 %>
        <%= chartjs_doughnut_chart(@challenge_chart_data, @challenge_chart_options) %>
        <p><%= @user.name.capitalize %>'s total loss / win ratio</p>
      <% else %>
        <%= image_tag 'no-data.png', size: "150x150" %>
      <% end %>
    </div>
    <div class="col-md-4">
      <% if current_user.challenge_accepted_count > 0 || current_user.challenge_declined_count > 0 %>
        <%= chartjs_doughnut_chart(@challenge_participation_chart, @options = {width: "150px", height: "150px"}) %>
          <p>Participation Level</p>
      <% else %>
        <%= image_tag 'no-data.png', size: "170x170" %>
          <p>Participation Level</p>
      <% end %>
    </div>
    <div class="col-md-4">
      <% if current_user.total_wins > 0 %>
      <%= chartjs_doughnut_chart(@challenge_chart_data, @options = {width: "150px", height: "150px"}) %>
      <p>Total loss / win ratio</p>
      <% else %>
      <%= image_tag 'no-data.png', size: "150x150" %>
      <% end %>
    </div>
  </div>
<% if user_signed_in? %>
  <!-- LIST OF PENDING -->
  <div class="bs-component">
   <table class="table table-striped table-hover">
     <tbody>
       <% if current_user.challenge_pending.size > 0 %>
           <h3>Your Pending Challenges:</h3>
            <% current_user.challenge_pending.each do |challenge| %>
               <tr>
               <td><h4 class="no-caps"><%= link_to challenge.title, challenge_path(challenge) %></h4></td>
                 <% if challenge.users[0] != current_user %>
                   <%= form_for(challenge) do |f| %>
                     <td><%= f.submit 'Accept', class: "btn btn-challenge-accept btn-md" %></td>
                   <% end %>
                   <%= form_for(challenge) do |f| %>
                     <td><%= f.submit 'Decline', class: "btn btn-challenge-decline btn-md"%></td>
                   <% end %>
                   <% if challenge.status == 'declined' %>
                    <% redirect_to root_path %>
                    <% end %>
                 <% else %>
                   <td class="hidden-td"></td>
                   <td class="hidden-td"></td>
                 <% end %>
               </tr>
             <% end %>
       <% end %>
     </tbody>
   </table>
  </div>
  
  <!-- LIST OF IN PROGRESS -->
  <div class="bs-component">
    <table class="table table-striped table-hover">
      <tbody>
          <% if current_user.challenge_in_progress.size > 0 %>
            <h3> Your In-Progress Challenges:</h3>
            <% current_user.challenge_in_progress.each do |challenge| %>
              <tr>
                <td>
                  <h4 class="no-caps"><%= link_to challenge.title, challenge_path(challenge) %></h4>
                </td>
              </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>
  </div>

  <!-- LIST OF IN VOTING PHASE -->
  <div class="bs-component">
    <table class="table table-striped table-hover">
      <tbody>
        <% if current_user.challenge_voting.size > 0 %>
          <h3> Your Challenges Up For Voting:</h3>
          <% current_user.challenge_voting.each do |challenge| %>
            <tr>
              <td>
                <h4 class="no-caps"><%= link_to challenge.title, challenge_path(challenge) %></h4>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- LIST OF VICTORIES -->
  <div class="bs-component">
    <table class="table table-striped table-hover">
      <tbody>
        <% if current_user.challenges_won.size > 0 %>
          <h3>Victories!</h3>
          <% current_user.challenges_won.each do |challenge| %>
            <tr>
              <td>
                <h4 class="no-caps"><%= link_to challenge.title, challenge_path(challenge) %></h4>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
   </div>

  <!-- LIST OF DEFEATS -->
  <div class="bs-component">
    <table class="table table-striped table-hover">
      <tbody>
        <% if current_user.challenges_lost.size > 0 %>
          <h3>Shameful Defeats!</h3>
          <% current_user.challenges_lost.each do |challenge| %>
            <tr>
              <td>
                <h4 class="no-caps"><%= link_to challenge.title, challenge_path(challenge) %></h4>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>


  <!-- LIST OF DECLINED -->
  <div class="bs-component">
    <table class="table table-striped table-hover">
      <tbody>
        <% if current_user.challenge_declined.size > 0 %>
          <h3>Your Declined Challenges</h3>
          <% current_user.challenge_declined.each do |challenge| %>
            <tr>
              <td>
                <h4 class="no-caps"><%= link_to challenge.title, challenge_path(challenge) %></h4>
                  <%= challenge.explaination %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
   </div>

  <%= link_to "Create a New Challenge", new_challenge_path, class: "btn btn-success btn-lg"  %>

<!-- When user not signed in -->
<% else %>
  <%= @user.name %>
  <%= render partial: "challenges/in_progress" %>
  <%= render partial: "challenges/closed" %>
<%end%>
</div>
<div class="col-md-3 col-lg-3"></div>




