<% if user_signed_in? %>

  <% if current_user.challenge_pending.size > 0 %>
    <h3>Your Pending Challenges:</h3>
    <ul>
     <% current_user.challenge_pending.each do |challenge| %>
        <li><h4 class="no-caps"><%= link_to challenge.title, challenge_path(challenge) %></h4></li>
          <% if challenge.users[0] != current_user %>
            <%= form_for(challenge) do |f| %>
              <%= f.submit 'Accept' %>
            <% end %>
            <%= form_for(challenge) do |f| %>
              <%= f.submit 'Decline' %>
            <%end%>
          <% end %>
      <% end %>
    </ul>
  <% end %>

  <% if current_user.challenge_in_progress.size > 0 %>
    <h3> Your In-Progress Challenges:</h3>
     <ul>
    	<% current_user.challenge_in_progress.each do |challenge| %>
    		<% if challenge.status == "in_progress" %>
      	 <li><h4 class="no-caps"><%= link_to challenge.title, challenge_path(challenge) %></h4></li>
       	<% end %>
      <% end %>
    </ul>
  <% end %>

  <% if current_user.challenge_voting.size > 0 %>
    <h3>Your Challenges Open for Voting:</h3>
     <ul>
      <% current_user.challenges.each do |challenge| %>
        <li><%= link_to challenge.title, challenge_path(challenge) %></li>
      <% end %>
     </ul>
  <% end %>
       
  <% if current_user.challenge_closed.size > 0 %>
    <h3>Your Completed Challenges:</h3>
     <ul>
      <% current_user.challenges.each do |challenge| %>
    	 <% if challenge.status == "closed" %>
        <li><h4 class="no-caps"><%= link_to challenge.title, challenge_path(challenge) %></h4></li>
       <% end %>
      <% end %>
    </ul>
  <% end %>

<% if current_user.challenge_declined.size > 0 %>
  <h3>Your Declined Challenges</h3>
   <ul>
    <% current_user.challenges.each do |challenge| %>
      <% if challenge.status == "declined" %>
        <li><h4 class="no-caps"><%= link_to challenge.title, challenge_path(challenge) %></h4></li>
      <% end %>
     <% end %>
    </ul>
  <% end %>

  <%= link_to "Create a New Challenge", new_challenge_path, class: "btn btn-success btn-lg"  %>

<!-- When user not signed in -->
<% else %>
  <%= @user.name %>
  <%= render partial: "challenges/in_progress" %>
  <%= render partial: "challenges/closed" %>
<%end%>

