<div class="col-md-3">
  <%= render partial: 'users/user_show_partials/users_sidebar'%>
</div>

<div class="col-md-1"></div>

<div class="col-md-6" id="profile-main-section">

  <!-- CHARTS   -->
  <div class="col-md-12" id="results-charts">
    <div class="col-md-6" id="results-2">
      <% if @user.any_wins_or_losses %>
        <%= chartjs_doughnut_chart(@challenge_chart_data, @challenge_chart_options) %>
        <p>WIN / LOSS RATIO</p>
      <% else %>
        <%= image_tag 'no-data.png', size: "170x170", class: "no-data" %>
        <p>WIN / LOSS RATIO</p>
      <% end %>
    </div>
    <div class="col-md-6" id="results-3">
      <% if @user.challenge_accepted_count > 0 || current_user.challenge_declined_count > 0 %>
        <%= chartjs_doughnut_chart(@challenge_participation_chart, @options = {width: "150px", height: "150px"}) %>
          <p>PARTICIPATION LEVEL</p>
      <% else %>
        <%= image_tag 'no-data.png', size: "170x170", class: "no-data" %>
          <p>PARTICIPATION LEVEL</p>
      <% end %>
    </div>
  </div>
  <!-- END CHARTS   -->

  <!-- NEW CHALLENGE BUTTONS -->
  <div align="center" id="users-show-buttons">
    <%= link_to "Create a New Challenge", new_challenge_path, class: "btn btn-success btn-lg"  %>
    <%= link_to "Join an Open Challenge", openchallenges_path, class: "btn btn-success btn-lg"  %>
  </div>

  <!-- LIST OF PENDING -->
  <% if @user == current_user %>

    <%= render "users/user_show_partials/user_pending_challenges" %>
  <%end%>
  <!-- LIST OF IN PROGRESS -->
  <%= render  partial: "challenges/index_partials/in_progress", locals: {challenges: @user_in_progress } %>
  <!-- LIST OF IN VOTING PHASE -->
  <%= render partial: "challenges/index_partials/voting", locals: {challenges: @user_in_voting } %>
  <!-- LIST OF VICTORIES -->
  <%= render partial: "users/user_show_partials/user_victories", locals: {challenges: @user.challenges_won[0..2] } %>
  <!-- LIST OF DEFEATS -->
  <%= render  partial: "users/user_show_partials/user_defeats", locals: {challenges: @user.challenges_lost[0..2] } %>
  <!-- LIST OF DECLINED -->
  <%= render  partial: "users/user_show_partials/user_declined", locals: {challenges: @user.challenge_declined[0..2] } %>

<div class="col-md-3 col-lg-3"></div>




