<br>
<br>
<br>
<br>
<br>

<h1>Your trophies!</h1>
<br>

<%= link_to "Back to your profile", user_path(current_user), class: "btn btn-success btn-md"  %>
<br>
<br>

<br>


<% if @trophies.empty? %>
  You have no trophies. Compete in more open challenges! And get more interesting.

<%else%>



<table class="table table-hover sortable" >
  <thead>
        <tr>
            <th>Trophy</th>
            <th>Challenge</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
  <% @trophies.each do |trophy| %>
  <tr>
    <td><%= image_tag trophy.photo_url %></td>
    <td><% if trophy.challenge %>
      Won in "<%= trophy.challenge.title %>"<br>
        You beat <%= pluralize(trophy.challenge.users.size, "person") %>!</td>
        <%end%>
    <td><% if trophy.challenge %>
      <%= trophy.challenge.challenge_end.strftime("%m/%d/%Y") %>
      <%end%></td>
    </tr>
    <%end%>
  </tbody>

<%end%>





