<% content_for :head do %>
    <script type="text/javascript">
      <%= render 'challenges/voting_countdown.js' %>
    </script>
  <% end %>

<div id="voting">
  <div class="row">
  <div class="col-md-1"></div>

  <% if user_signed_in? %>
  
  <div class="col-md-10">

    <%if !current_user.voted?(@challenge) %>
      <% @challenge.users.each do |user| %>
        <div class="col-md-6">
        <%= form_for Vote.new, remote: true do |f| %>
        <%= f.hidden_field :challenge_id, {:value => @challenge.id} %>
        <%= f.hidden_field :user_id, {:value => current_user.id} %>
        <%= f.hidden_field :recipient_id, {:value => user.id} %>
        <%= f.submit "Vote for #{user.name.split(" ")[0].capitalize}!", class: "btn btn-success btn-md" %>
        </div>
        <% end %>
      <% end %>
    <br>
    <br>
    <%else%>
      <p class="text-center">Thanks for voting!</p>  
      <p class="text-center"><%= @challenge.print_votes %></p>
    <%end%>

    <% if !@boost && (session[:fb_token]) %>
      <% content_for :head do %>
        <script type="text/javascript">
          $(function() {
            $('#fb_post_dropdown').click(function() {
              $('.fb-vote').show();
              $('#fb_post_dropdown').hide();
            });
          });
        </script>
      <% end %>
      <div class="row row-centered">
        <div class="col-xs-6 col-centered col-fixed">
          <div class="content">
            <button id="fb_post_dropdown">Post Challenge to Facebook</button>
          </div>
        </div>
      </div>
      
      <div class = "fb-vote" >
        <div class="row row-centered">
          <div class="col-xs-6 col-centered col-fixed">
            <div class="content">
              <div id="ajax_voting_boost_button">
              <%= form_for Vote.new, :url => vote_boost_path, remote: true do |f| %>
                <%= f.text_area :fb_message, value: "Please vote for me on ProveIt! I'm currently participating in a challenge called #{@challenge.title.titleize}. Thank you!", class: "form-control expand" %>
                <%= f.hidden_field :challenge_id, {:value => @challenge.id} %>
                <%= f.hidden_field :user_id, {:value => current_user.id} %>
                <%= f.hidden_field :social_boost, {:value => '1'} %>
                <%= f.submit "Post to Facebook"%>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if @boost %>
      <div id="ajax_voting_boost_button">
        <p> Post made to your Facebook wall!</p>
      </div>
    <% end %>
    </div>
  <%else%>
    <p>Log in or sign up to vote!</p>
  <%end%>
  </div>
  <div class="col-md-1"></div>
</div>
</div>