<% content_for :head do %>
    <script type="text/javascript">
      <%= render 'challenges/voting_countdown.js' %>
    </script>
  <% end %>

<div id="voting">
  <div class="row">
  <div class="col-md-4"></div>

  <% if user_signed_in? %>
  <div class="col-md-4">
    <%if !current_user.voted?(@challenge) %>
      <% @challenge.users.each do |user| %>
        <%= form_for Vote.new, remote: true do |f| %>
        <%= f.hidden_field :challenge_id, {:value => @challenge.id} %>
        <%= f.hidden_field :user_id, {:value => current_user.id} %>
        <%= f.hidden_field :recipient_id, {:value => user.id} %>
        <%= f.submit "Vote for #{user.capitalize_name}!" %>
      <% end %>

    <% end %>

  
    <%else%>

      <p class="text-center">Thanks for voting!</p>  
      <p class="text-center"><%= @challenge.print_votes %></p>
    <%end%>
    <% if !@boost %>
    <p class="text-center">Ask Your Facebook Friends to Vote!</p>
    <div id="#ajax_voting_boost_button">
  
    <%= form_for Vote.new, :url => vote_boost_path, remote: true do |f| %>
    <%= f.hidden_field :challenge_id, {:value => @challenge.id} %>
    <%= f.hidden_field :user_id, {:value => current_user.id} %>
    <%= f.hidden_field :social_boost, {:value => '1'} %>
    <%= f.submit "Post to Facebook" %>
    <% end %>
    <% end %>
    <% if @boost %>
      <p> you have been boosted! </p>
    <% end %>
    </div> 
  <%else%>
    <p>Log in or sign up to vote!</p>
  <%end%>
  </div>
  <div class="col-md-4"></div>
</div>
</div>