<% content_for :head do %>
    <script type="text/javascript">
      <%= render 'challenges/countdown2.js' %>
    </script>
  <% end %>

<%= @challenge.print_votes %>
<% if user_signed_in? %>

  <%if !current_user.voted?(@challenge) %>
    <% @challenge.users.each do |user| %>
      <%= form_for Vote.new, remote: true do |f| %>
      <%= f.hidden_field :challenge_id, {:value => @challenge.id} %>
      <%= f.hidden_field :user_id, {:value => current_user.id} %>
      <%= f.hidden_field :recipient_id, {:value => user.id} %>
      <%= f.submit "Vote for #{user.capitalize_name}!" %>
    <% end %>
  <% end %>

<%else%>
  <p>Thanks for voting!</p>  
<%end%>

<%else%>
  <p>Log in or sign up to vote!</p>
<%end%>