<%= form_for @challenge do |f| %>
<p><%= f.label :title %></p>
<p><%= f.text_field :title %></p>
<p><%= f.label :challenged_id %></p>
<p><%= f.text_field :challenged_id %></p>
<p><%= f.label :description %></p>
<p><%= f.text_field :description %></p>
<p><%= f.label :challenge_duration %></p>
<p><%= f.text_field :challenge_duration %></p>
<p><%= f.label :voting_duration %></p>
<p><%= f.text_field :voting_duration %></p>

<%= f.submit %>
<% end %>

<%= link_to "go back to challenges", challenges_path %>