<div class="col-md-12">
<div class="col-md-2"></div>
<div class="col-md-8 text-center">
      
  <h1><%= @challenge.title %></h1>
  <p><%= @challenge.description %></p>
  <h2><%= @challenge.print_competitors %></h2>

  <p class="text-center">Status: <%= @challenge.status%></p></div>

  <div class="col-md-12">
    <% if @challenge.status == 'in_progress' %>
      <div class="block center" id='defaultCountdown'></div>
    <%end%>
  </div>

  <% if @challenge.status != 'closed' %>
    <div style = "margin: 0 auto;" id='votingCountdown'></div>
  <%end%>

  <div class="col-md-2"></div>
  
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div id="closed" class="text-center"></div>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">

<div id="ajax_voting"></div>

<% case @challenge.status %>
  <% when 'closed' %>
    <h1 class="text-center"><%= @challenge.winner.name %> wins!</h1>
    <p class="text-center"><%= @challenge.print_votes %></p>
  <% when 'in_progress' %>
    <div id='in_progress'><%= render 'show_in_progress' %></div>
  <% when 'voting' %>
    <div id='on_load_voting'><%= render 'show_voting' %></div>
<%end%>

</div>
<div class="col-md-4"></div>
</div>
</div>  



<% if !@challenge.pending_or_declined? %>
 <div id='evidence'><%= render 'show_evidence' %></div>
<%end%>

<br>
<% if user_signed_in? %>
  <%= link_to "Go back to your challenges", user_path(current_user), class: "btn btn-success btn-md"%>
<% else %>
  <%= link_to "Go back to challenges", root_path, class: "btn btn-success btn-md" %>
<% end %>

<br>
<br>

        


      




