<h1><%= @challenge.title %></h1>

<h2><%= @challenge.description %></h2>


<h3><%= @challenge.users.first.name %> VS. <%= @challenge.users.second.name %></h3>

<% if @challenge.status == 'closed' %>
  <%if (@challenge.votes.where(recipient_id: @challenge.users.first.id).size) > (@challenge.votes.where(recipient_id: @challenge.users.second.id).size) %>
    <h1><%= @challenge.users.first.name %> wins!</h1>
    <% else %>
    <h1><%= @challenge.users.second.name %> wins!</h1>
    <%end%>
    <%end%>


<p>Status: <%= @challenge.status%></p>

<% if @challenge.status == "in_progress" %>
 <% if @challenge.evidences.find_by(user_id: current_user.id).nil? %>
Submit evidence here:

<%= form_for Evidence.new, :html => { :multipart => true } do |f| %>
<%= f.hidden_field :challenge_id, {:value => @challenge.id} %>
<%= f.hidden_field :user_id, {:value => current_user.id} %>

<%= f.label 'Comment' %>
<%= f.text_field :comment %></br>
<%= f.file_field :photo, as: :file, :required => true %>
<%= f.submit 'submit evidence' %>

<% end %>
<% else %>
You've submitted evidence. <br>

<% end %>

<%end%>

<%if @challenge.status == 'voting' %>
<p> Votes for <%= @challenge.users.first.name %> <%= @challenge.votes.where(recipient_id: @challenge.users.first.id).size %></p>
<%= form_for Vote.new do |f| %>
<%= f.hidden_field :challenge_id, {:value => @challenge.id} %>
<%= f.hidden_field :user_id, {:value => current_user.id} %>
<%= f.hidden_field :recipient_id, {:value => @challenge.users.first.id} %>
<%= f.submit "vote for #{@challenge.users.first.name}" %>
<% end %>

<p> Votes for <%= @challenge.users.second.name %> </p> <%= @challenge.votes.where(recipient_id: @challenge.users.second.id).size %>
<p> 
<%= form_for Vote.new do |f| %>
<%= f.hidden_field :challenge_id, {:value => @challenge.id} %>
<%= f.hidden_field :user_id, {:value => current_user.id} %>
<%= f.hidden_field :recipient_id, {:value => @challenge.users.second.id} %>
<%= f.submit "vote for #{@challenge.users.second.name}" %>
<% end %>

<% end %>
<%= link_to "go back to challenges", challenges_path %>

<br>



<% if @challenge.status != 'pending' %>
<% if !@challenge.evidences.find_by(user_id: current_user.id).nil? %>
<p>Your evidence: </p>
<%= image_tag @challenge.evidences.find_by(user_id: current_user.id).photo.url %>
<% else %>
Awaiting evidence...
<%end%>

<br>
 
<% if !@challenge.evidences.where.not(user_id: current_user).first.nil? %>
<%= @challenge.users.where.not(id: current_user.id).first.name + "s" %> evidence:
<%= image_tag @challenge.evidences.where.not(user_id: current_user).first.photo.url %>
<% else %>
Awaiting evidence...
<%end%>
<%end%>


