

<h1><%= @challenge.title %></h1>

<h2><%= @challenge.description %></h2>

<h1><%= @challenge.competitor1.name %> VS. <%= @challenge.competitor2.name %></h1>

<p>Status: <%= @challenge.status%></p>

<% case @challenge.status %>
<% when 'closed' %>
  <h1><%= @challenge.winner.name %> wins!</h1>
<% when 'in_progress' %>
  <%= render 'show_in_progress' %>
<% when 'voting' %>
  <%= render 'show_voting' %>
<%end%>

<% if @challenge.status != ('pending') && @challenge.status != ('declined') %>
  <%= render 'show_evidence' %>
<%end%>

<br>
<% if user_signed_in? %>
<%= link_to "Go back to your challenges", user_path(current_user) %>
<% else %>
<%= link_to "Go back to challenges", root_path %>
<% end %>
