<br>
<br>
<br>
<br>
<br>


  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="jumbotron">
      <h1 class="text-center"><%= @challenge.title %></h1>
    </div>
      <p class="text-center lead"><%= @challenge.description %></p>
      <h1 class="text-center"><%= @challenge.print_competitors %></h1>
      <div id="status"><p class="text-center">Status: <%= @challenge.status%></p></div>

      <% if @challenge.status == 'in_progress' %>
      <div id='defaultCountdown'></div>
      <%end%>
      <% if @challenge.status != 'closed' %>
      <div style = "margin: 0 auto;" id='votingCountdown'></div>
      <%end%>
 
      </div>  
    <div class="col-md-2"></div>
  </div>



<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div id="closed" class="text-center"></div>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">

<div id="ajax_voting"></div>

<% case @challenge.status %>
  <% when 'closed' %>
    <h1 class="text-center"><%= @challenge.winner.name %> wins!</h1>
    <p class="text-center"><%= @challenge.print_votes %></p>
  <% when 'in_progress' %>
    <div id='in_progress'><%= render 'show_in_progress' %></div>
  <% when 'voting' %>
    <div id='on_load_voting'><%= render 'show_voting' %></div>
<%end%>

</div>
<div class="col-md-4"></div>
</div>



<% if !@challenge.pending_or_declined? %>
 <div id='evidence'><%= render 'show_evidence' %></div>
<%end%>

<br>
<% if user_signed_in? %>
  <%= link_to "Go back to your challenges", user_path(current_user), class: "btn btn-success btn-md"%>
<% else %>
  <%= link_to "Go back to challenges", root_path, class: "btn btn-success btn-md" %>
<% end %>

<br>
<br>

        


      




