<% if @challenge.status == "in_progress" %>
  <% content_for :head do %>
    <script type="text/javascript">
      <%= render 'countdown.js' %>
    </script>
  <% end %>
<%end%>

<div id=defaultCountdown> </div>

<h1><%= @challenge.title %></h1>

<h2><%= @challenge.description %></h2>

<h1><%= @challenge.users.collect{|user| user.name.capitalize}.join(" vs ") %></h1>

<p>Status: <%= @challenge.status%></p>

<div id="results"></div>

<% case @challenge.status %>
<% when 'closed' %>
  <h1><%= @challenge.winner.name %> wins!</h1>
  <%= @challenge.print_votes %>
<% when 'in_progress' %>
  <%= render 'show_in_progress' %>
<% when 'voting' %>
  <div id='voting'><%= render 'show_voting' %></div>
<%end%>

<% if ['pending', 'declined'].exclude?(@challenge.status) %>
  <div id='evidence'><%= render 'show_evidence' %></div>
<%end%>

<br>
<% if user_signed_in? %>
<%= link_to "Go back to your challenges", user_path(current_user) %>
<% else %>
<%= link_to "Go back to challenges", root_path %>
<% end %>


