<h1><%= @challenge.title %></h1>

<h2><%= @challenge.description %></h2>


<p><%= @challenge.users.first.name %> VS. <%= @challenge.users.second.name %></p>

<p>Status: <%= @challenge.status%></p>

<%= link_to "go back to challenges", challenges_path %>



