<h1><%= @challenge.title %></h1>

<h2><%= @challenge.description %></h2>
<% binding.pry %>
<p><%= @challenge.challenger.name %> VS. <%= @challenge.challenged.name %></p>

<p>Status: <%= @challenge.status%></p>

<%= link_to "go back to challenges", challenges_path %>



