  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      
      <h1 class="text-center"><%= @challenge.title %></h1>
    
      <p class="text-center lead"><%= @challenge.description %></p>
      <h1 class="text-center"><%= @challenge.print_competitors %></h1>
      <div id="status"><p class="text-center">Status: <%= @challenge.status%></p></div>

      <% if @challenge.status == 'in_progress' %>
      <div style = "margin: 0 auto;" id='defaultCountdown'></div>
      <%end%>
      <% if @challenge.status != 'closed' %>
      <div style = "margin: 0 auto;" id='votingCountdown'></div>
      <br>
      <%end%>
 
      </div>  
    <div class="col-md-3"></div>

  </div>


  <div class="col-md-2"></div>
  
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div id="closed" class="text-center"></div>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">

<div id="ajax_voting"></div>

<% case @challenge.status %>
  <% when 'closed' %>
    <h1 class="text-center"><%= @challenge.winner.name %> wins!</h1>
    <p class="text-center"><%= @challenge.print_votes %></p>
  <% when 'pending' %>
    <p class="text-center">Waiting on <%= @challenge.users[1] == current_user ? "you" : @challenge.users[1].capitalize_name %> to accept. </p>

  <% when 'in_progress' %>
    <div id='in_progress'><%= render 'show_in_progress' %></div>
  <% when 'voting' %>
    <div id='on_load_voting'><%= render 'show_voting' %></div>
<%end%>

</div>
<div class="col-md-4"></div>
</div>
</div>  



<% if !@challenge.pending_or_declined? %>
 <div id='evidence'><%= render 'show_evidence' %></div>
<%end%>

<br>

<div class ='row'>
  <div class="col-md-5"></div>
  <div class="col-md-2">
<% if user_signed_in? %>
  <%= link_to "Back to challenges", user_path(current_user), class: "btn btn-success btn-md center-block"%>
<% else %>
  <%= link_to "Back to challenges", root_path, class: "btn btn-success btn-md" %>
<% end %>
</div>

 <div class="col-md-5"></div>

</div>

<br>
<br>


        


      




