
</div>
<div class="row text-center" id="the-team">
<h2 id="team-padding">The Team</h2>
	<div class="col-lg-3 text-center">
		<%= image_tag('travis_emmett_profile.jpg', size: '300x300')%>
		<div class="text-center">
			<h3>Travis Emmett  <a href="https://github.com/travisje"><%= image_tag('GitHub-Mark.png', size: "40x40", class: "inline")%></a></h3>
			<p>Georgia native, New York import. Brooklyn Denizen.</p>
		</div>
	</div>
	<div class="col-lg-3">
		<%= image_tag('mason_jennings_profile.jpeg', size: '300x300')%>
		<div class="text-center">
			<h3>Mason Jennings  <a href="https://github.com/mminute"><%= image_tag('GitHub-Mark.png', size: "40x40", class: "inline")%></a></h3>
			<p>Architecting. Americorping. Aerial Surveying. Now Coding sweet, sweet web apps.</p>
		</div>
	</div>
	<div class="col-lg-3">
		<%= image_tag('greg_osborn_index.jpeg', size: '300x300')%>
		<div class="text-center">
			<h3>Greg Osborn  <a href="https://github.com/gosborn"><%= image_tag('GitHub-Mark.png', size: "40x40", class: "inline")%></a></h3>
			<p>I enjoy tackling biological questions and developing efficient, shareable tools.</p>
		</div>
	</div>
		<div class="col-lg-3">
		<%= image_tag('9953094.jpeg', size: '300x300')%>
		<div class="text-center">
			<h3>Nino Rosella  <a href="https://github.com/nrosella"><%= image_tag('GitHub-Mark.png', size: "40x40", class: "inline")%></a></h3>
			<p>I fell in love with code when I had to build a simple Wordpress website at work. I got fed up of selling other people's amazing creations and took the leap to learn code at Flatiron School to build some of my own.</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 text-center">
		<h2>About This Project</h2>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 text-center">
		<p>This project was built for our two week sprint as part of our studies at the Flatiron School, NYC</p>
		<p>Technologies used:</p>
				<p>
					Ruby on Rails
				</p>
				<p>
					JavaScript
				</p>
				<p>
					HTML + CSS
				</p>
				<p>
					jQuery
				</p>
				<p>
					Chart.js
				</p>
				<p>
					Sortable.js
				</p>
		<p>You can view the source code for this project on GitHub by <a href="https://github.com/nrosella/prove-it">clicking here.</a></p>
	</div>
</div>


