<!DOCTYPE html>
<html>
  <head>
    <title>ProveIt</title>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
   <% unless Rails.env.test? %>
      <%= stylesheet_link_tag    "application", :media => "all" %>
   <% end %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>
    <%= yield :head %>
  </head>
  <body>
    <div class="container cold-md-12 col-lg-12">
      <div class="navbar col-lg-12">
        <%= render "layouts/navigation" %>
      </div>
        <%= yield %>
      </div>
    </body>
  </html>

